  body {
    background-color: #85A5D4;
    font-family: Roboto, sans-serif;
    font-size: 13px;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  #container {
    width: 900px;
    margin: 100px auto;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 4px;
    box-shadow: 0 22px 50px rgba(14,21,47, .2), 0 8px 20px rgba(14,21,47, .2);
  }
  #container * {
    text-align: center;
  }
  .device{
    padding: 10px;
    margin: 20px;
  }
  .device:hover{
    background-color: #f6f6f6;
  }
  .icon{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
  }
  .blue{
    color: #5673D5;
  }
  .money{
    font-size: 32px;
  }
  .device-text{
    color: #A7A7A7;
    margin: 20px;
  }
  