@import url("navbar.css");
html{
  font-size: 62.5%;
  font-family: Roboto, sans-serif;
}
body{
  width: 70%;
  margin: 3rem auto;
  font-size: 1.4rem;
}

#main{
  display: flex;
  justify-content: space-between;
}

#main.left{
  flex-grow: 1;
}
#main.right{
  flex-grow: 25;
}
#watches{
  height: 50rem;
  margin-right: -10rem;
}

#main-article{
  border-left: 1px solid gray;
  padding-left: 2rem;
}