body{
  background-color: #3d3;
  font-family: futura, monospace;
  font-size: 18px;
}
.container{
  width: 400px;
  margin: 100px auto;
}

#username{
  width: 97.9999%;
  height: 20px;
}

#submit{
  width: 80px;
  height: 30px;
  margin: 20px 0px;
  display: block;
}

.warning{
  background-color: red;
  display: block;
}
.tip{
  background-color: yellow;
  display: block;
}
