body{
  width: 100%;
  height: 100vh;
  background: #323330;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  border: 20px black solid;
  border-bottom: 0px;
}
.container{
  display: flex;
  background-color: white;
  perspective: 1000px;
  background-image: url(../img/rick-new.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.inner{
  width: 200px;
  height: 300px;
  background-color: gold;
  transform-origin: 0 0;
  animation: doorani 2.3s ease-in-out infinite alternate;
}
.origin-right{
  transform-origin: right;
}

@keyframes doorani {
  from { transform: rotateY(-70deg); }
  to { transform: rotateY(70deg); }
}