html{
  font-size: 62.5%;
}

body{
  font-family: 'Futura', sans-serif;
  width: 100%;
  font-size: 2rem;
}
.container{
  box-shadow: 0.3rem 0.3rem 0.3rem deeppink;
  margin: 10rem auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: white;
  color: black;
}

.container > img, .details{
  padding: 1rem;
  width: 50%;
}
