body{
  background-color: #F0DB4F;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  flex-direction: column;
}
.element {
  background-color: white;
  color: #323330;
  width: 150px;
  height: 150px;
  margin: 20px;
}
.rotators, .skewers, .translators{
  display: flex;
}

.skew{
  animation: skew-animate 2s infinite;
  animation-direction: alternate;
}

.rotate{
  animation: rotate-animate 2s infinite;
  animation-direction: alternate;
}
.translate{
  animation: translate-animate 2s infinite;
  animation-direction: alternate;
}

@keyframes skew-animate {
  0% {
    transform: skewY(20deg);
  }
  100% {
    transform: skewY(-20deg);
  }
}

@keyframes rotate-animate {
  0% {
    transform: rotateX(0deg)  rotateY(0deg);
  }
  100% {
    transform: rotateX(180deg)  rotateY(180deg);
  }
}


@keyframes translate-animate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(20px, 20px);
  }
}