body{
  width: 100%;
  font-family: futura;
  font-size: 62.5%;
  background: deeppink;
  height: 100vh;
}
.container{
  padding: 1rem;
  font-size: 1.6rem;
  background: white;
  width: 30%;
  margin: 30vh auto;
}
#selected-text{
  padding: 1rem;
  margin: 0;
}
.checked{
  padding-left: 2rem;
  margin: 0;
}
ul{
  margin: 0;
  padding-left: 2rem;;
}
li{
  list-style: none;
  margin-top: 0.1rem;
  border-radius: 0.1rem;
}

.selected{
  background: lightgrey;
}
